Source: security-cam-bot
Section: main
Priority: optional
Maintainer: Álvaro Castellano Vela <alvaro.castellano.vela@gmail.com>
Build-Depends: debhelper (>= 9), dh-golang, golang-go:native (>= 1.3.0)
Standards-Version: 3.9.6

Package: security-cam-bot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Built-Using: ${misc:Built-Using}
Description: Telegram bot for managing webcams and receiving alerts from then.
